---
layout: default
---

{% for post in site.posts limit: 10 %}
<article class="article-entry-block">
    <header class="article-header">
        <h1><a href="{{ post.url }}" class="article-title">{{ post.title }}</a></h1>
        <p class="article-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%Y-%m-%d" }}</time>
            {% if post.categories %}
                /
                {% for category in post.categories %}
                    {{ category }}
                {% endfor %}
            {% endif %}
        </p>
    </header>
    <main class="article-content">
        <p class="article-abstract">{{ post.content | strip_html | truncate: 100 }}</p>
        <p><a href="{{ post.url }}" class="article-more">Read More</a></p>
    </main>
</article>
{% endfor %}
