#!/usr/bin/env ruby

layout '/**/*', :erb

compile '/notes/**/*.md' do
    folder = item.identifier.to_s.match(/^\/notes\/(.*)\.md$/)[1].split('/')
    title  = folder[-1].match(/^(\d+)-(.*)$/)[2]
    number = folder.map { |s| s.match(/^(\d+)-(.*)$/)[1] }
    filter :pandoc, from: 'markdown', to: 'html5', args: ['mathjax']
    layout '/base.*', locals: {
        title: title,
        aside: 'table of contents',
        mathjax: true
    }
    write "/#{number.join('/')}_#{item[:permalink]}.html"
end

compile '/notes/**/asset/**/*' do
    match  = item.identifier.to_s.match(/^\/notes\/(.*)\/asset\/(.*)$/)
    number = match[1].split('/').map { |s| s.match(/^(\d+)-(.*)$/)[1] }
    write "/#{number.join('/')}/asset/#{match[2]}"
end

compile '/*.html' do
    filter :erb
    layout '/base.*', locals: {
        title: @config[:title],
        aside: 'hello world',
        mathjax: false
    }
    write item.identifier.to_s
end

ignore '/**/_*.scss'

compile '/**/*.scss' do
    filter :sass, syntax: :scss, style: :compact
    write @item.identifier.without_ext + '.css'
end

compile '/**/*' do
    write item.identifier.to_s
end
