#!/usr/bin/env ruby

layout '/**/*', :erb

compile '/notes/**/*.md' do
    folder = item.identifier.to_s.match(/^\/notes\/(.*)\.md$/)[1].split('/')
    title  = folder[-1].match(/^(\d+)-(.*)$/)[2]
    number = folder.map { |s| s.match(/^(\d+)-(.*)$/)[1] }
    filter :pandoc, from: 'markdown', to: 'html5', args: ['mathjax']
    layout '/note.*', locals: { title: title }
    layout '/base.*', locals: { title: title, aside: 'fake-TOC' }
    write "/#{number.join('/')}_#{item[:permalink]}.html"
end

compile '/notes/**/assets/**/*' do
    match  = item.identifier.to_s.match(/^\/notes\/(.*)\/assets\/(.*)$/)
    number = match[1].split('/').map { |s| s.match(/^(\d+)-(.*)$/)[1] }
    write "/#{number.join('/')}/assets/#{match[2]}"
end

compile '/*.html' do
    filter :erb
    layout '/base.*', locals: { title: @config[:title], aside: '编程归档\n标签' }
    write item.identifier.without_ext + ".html"
end

ignore '/**/_*.scss'

compile '/**/*.scss' do
    filter :sass, syntax: :scss, style: :compressed
    write @item.identifier.without_ext + '.css'
end

compile '/**/*' do
    write item.identifier.to_s
end
