* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #111;
    background: #fff;
    font-size: 16px;
    font-family: "Open Sans", "Helvetica Neue", "WenQuanYi Micro Hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

h1, h2, h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

p {
    margin: 0.5em 0;
}

a {
    text-decoration: none;
    color: #0e83cd;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    display: block;
    max-width: 720px;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
}

main.wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*******************************************************************************
 * Page Header & Footer
 ******************************************************************************/

.header {
    display: block;
    background: #f0f0f0;
}

.homelink-wrapper {
    float: left;
    padding: 12px 20px;
}

.homelink {
    text-transform: uppercase;
    line-height: 40px;
    color: #333;
    font-size: 18px;
    position: relative;
}

.homelink:hover {
    text-decoration: none;
}

.homelink:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;

    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;

    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
}

.homelink:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

.nav {
    float: left;
    line-height: 40px;
    padding: 12px 15px;
}

.nav-link {
    font-size: 14px;
    margin-right: 8px;
    line-height: 20px;
    padding: 5px 8px;
    border-radius: 2px;
    color: #333;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out 0s;
}

.nav-link:hover {
    color: #fff;
    background: #000;
    text-decoration: none;
}

.footer {
    display: block;
    background: #262a30;
    overflow: hidden;
    padding: 28px 0;
    text-align: center;
    color: #999;
    font-size: 0.9em;
}

@media (max-width: 530px) {
    .header > .wrapper {
        text-align: center;
    }
    .homelink {
        float: none;
        display: inline-block;
    }
    .nav {
        float: none;
        display: block;
    }
}

@media (max-width: 330px) {
    .nav-link {
        display: block;
    }
}

/*******************************************************************************
 * Article
 ******************************************************************************/

.article-block {
    overflow: hidden;
    margin: 20px 0;
}

.article-header {
    color: #555;
    padding: 5px 20px;
    border-left: 2px solid #888;
    overflow: hidden;
}

.article-header h1 {
    font-size: 1.5em;
    margin: 0;
}

.article-title {
    color: #555;
    transition: color 0.3s;
}

.article-title:hover {
    color: #0e83cd;
    text-decoration: none;
}

.article-meta {
    margin: 5px 0 0 0;
    font-size: 0.9em;
    padding: 0;
    color: #999;
}

.article-content {
    padding: 0 20px 5px 20px;
    line-height: 1.5em;
}

.article-comment {
    padding: 15px 20px 10px;
}

code {
    font-family: "Source Code Pro", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 0.9em;
}

:not(pre) > code {
    padding: 0 5px;
    border-radius: 2px;
    background: #efefef;
    color: #cb4b16;
}

.highlight { 
    background-color: #efefef;
    padding: 5px 10px;
    margin: 10px 0;
    overflow: hidden;
}

.highlight pre {
    margin: 0;
}

.gutter {
    color: #586e75;
    min-width: 30px;
    padding: 5px 0px 5px 10px;
}

.code {
    width: 100%;
    padding: 5px 25px 5px 25px;
}

blockquote {
    margin: 10px 0;
    padding: 1px 10px;
    border-left: solid 2px #6D8594;
    background-color: rgba(0, 0, 0, 0.05);
}

hr {
    margin: 20px -20px;
    padding: 0;
    border: none;
    border-top: 2px solid #ccc;
}

img {
    display: block;
    margin: 0 auto;
}

/*******************************************************************************
 * Table
 ******************************************************************************/

.article-content > table, blockquote > table {
    margin: 16px auto;
    border-spacing: 0;
    border: 2px solid #0e83cd;
}

.article-content > table th, .article-content > table td, blockquote > table th, blockquote > table td {
    padding: 1px 10px;
    font-weight: normal;
}

.article-content > table thead, blockquote > table thead {
    background: #0e83cd;
    color: #fff;
    border: none;
}

.article-content > table tbody tr, blockquote > table tbody tr {
    border-bottom: 1px solid #ddd;
}

.article-content > table tbody tr:last-child, blockquote > table tbody tr:last-child {
    border: none;
}

/*******************************************************************************
 * Paginator
 ******************************************************************************/

.page-nav {
    text-align: center;
}

.page-nav a {
    transition: background 0.3s ease-in-out 0s;
}

.page-nav a:hover {
    text-decoration: none;
    background: #000;
    color: #fff;
}

.page-number {
    display: inline-block;
    padding: 10px 20px;
}

.page-nav .prev {
    float: left;
    padding: 10px 20px;
}

.page-nav .next {
    float: right;
    padding: 10px 20px;
}

/*******************************************************************************
 * Side Widgets
 ******************************************************************************/

.widget-header {
    margin: 10px 0px 10px 15px;
    overflow: hidden;
}

.widget-header h1 {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

ul.category-list,
ul.category-list-child,
ul.tag-list,
ul.link-list {
    margin-top: 0;
    list-style:none;
    padding-left: 15px;
}

li.category-list-item:before,
li.tag-list-item:before,
li.link-list-item:before {
    content: '»';
    padding: 0 5px;
}

span.category-list-count,
span.tag-list-count {
    padding: 0 5px;
}

span.category-list-count:before,
span.tag-list-count:before {
    content: '(';
}

span.category-list-count:after,
span.tag-list-count:after {
    content: ')';
}
