.highlight .comment,
.highlight .diff .header,
.highlight .doctype,
.highlight .pi,
.highlight .lisp .string {
  color: #586e75;
}

/* Solarized Green */
.highlight .keyword,
.highlight .winutils,
.highlight .method,
.highlight .addition,
.highlight .css .tag,
.highlight .request,
.highlight .status,
.highlight .nginx .title {
  color: #859900;
}

/* Solarized Cyan */
.highlight .number,
.highlight .command,
.highlight .string,
.highlight .tag .value,
.highlight .rule .value,
.highlight .doctag,
.highlight .tex .formula,
.highlight .regexp,
.highlight .hexcolor,
.highlight .link_url {
  color: #2aa198;
}

/* Solarized Blue */
.highlight .title,
.highlight .localvars,
.highlight .chunk,
.highlight .decorator,
.highlight .built_in,
.highlight .identifier,
.highlight .vhdl .literal,
.highlight .id,
.highlight .css .function,
.highlight .name {
  color: #268bd2;
}

/* Solarized Yellow */
.highlight .attribute,
.highlight .variable,
.highlight .lisp .body,
.highlight .smalltalk .number,
.highlight .constant,
.highlight .class .title,
.highlight .parent,
.highlight .type,
.highlight .link_reference {
  color: #b58900;
}

/* Solarized Orange */
.highlight .preprocessor,
.highlight .preprocessor .keyword,
.highlight .pragma,
.highlight .shebang,
.highlight .symbol,
.highlight .symbol .string,
.highlight .diff .change,
.highlight .special,
.highlight .attr_selector,
.highlight .subst,
.highlight .cdata,
.highlight .css .pseudo,
.highlight .header {
  color: #cb4b16;
}

/* Solarized Red */
.highlight .deletion,
.highlight .important {
  color: #dc322f;
}

/* Solarized Violet */
.highlight .link_label {
  color: #6c71c4;
}

.highlight .tex .formula {
  background: #073642;
}