/*******************************************************************************
 * Fonts
 ******************************************************************************/

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(/fonts/opensans400.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/fonts/opensans600.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/fonts/opensans400i.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(/fonts/opensans600i.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(/fonts/sourcecodepro.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*******************************************************************************
 * Global
 ******************************************************************************/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #333;
    background: #f4f4f4;
    font-family: "Open Sans", "Helvetica Neue", "WenQuanYi Micro Hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", sans-serif;
}

a {
    text-decoration: none;
    color: #0e83cd;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: auto;
}

.block {
    background: #fff;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,0.1);
    overflow: hidden;
    margin: 20px 0;
}

.main {
    float: left;
    width: calc(75% - 10px);
    margin: 5px 10px 10px 0;
}

.side {
    float: right;
    width: calc(25% - 10px);
    margin: 5px 0 10px 10px;
}

/*******************************************************************************
 * Page Header & Footer
 ******************************************************************************/

.header {
    display: block;
    background: #fff;
    /*box-shadow: 0 1px 2px rgba(0,0,0,0.05);*/
    box-shadow: 0 1px 5px 0px rgba(0,0,0,0.1);
}

.homelink {
    float: left;
    line-height: 40px;
    padding: 12px 15px;
    color: #333;
    font-size: 18px;
    transition: background 0.3s ease-in-out 0s;
}

.homelink:hover {
    text-decoration: none;
    background: #000;
    color: #fff;
}

.nav {
    float: left;
    line-height: 40px;
    padding: 12px 15px;
}

.nav-link {
    font-size: 14px;
    margin-right: 8px;
    line-height: 20px;
    padding: 5px 8px;
    border-radius: 2px;
    color: #333;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out 0s;;
}

.nav-link:hover {
    color: #fff;
    background: #000;
    text-decoration: none;
}

.footer {
    display: block;
    background: #262a30;
    overflow: hidden;
    padding: 28px 0;
    text-align: center;
    color: #999;
    font-size: 0.9em;
}

@media (max-width: 630px) {
    .main {
        width: 100%;
    }
    .side {
        display: none;
    }
}

@media (max-width: 530px) {
    .header > .wrapper {
        text-align: center;
    }
    .homelink {
        float: none;
        display: inline-block;
    }
    .nav {
        float: none;
        display: block;
    }
}

@media (max-width: 330px) {
    .nav-link {
        display: block;
    }
}

/*******************************************************************************
 * Article
 ******************************************************************************/

.article-header {
    color: #555;
    padding: 15px 15px 15px 20px;
    border-left: 5px solid #555;
    overflow: hidden;
}

.article-header h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.article-title {
    color: #555;
    transition: color 0.3s;
}

.article-title:hover {
    color: #0e83cd;
    text-decoration: none;
}

.article-meta {
    margin: 5px 0 0 0;
    font-size: 0.9em;
    padding: 0;
    color: #999;
}

.article-content {
    padding: 0 25px 5px 25px;
    line-height: 1.5em;
}

.article-abstract::after {
    content: "...";
}

.article-comment {
    padding: 15px 25px 10px;
}

code, .highlight pre {
    font-family: "Source Code Pro", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

code {
    padding: 0 5px;
    border-radius: 2px;
    background: #f6fde3;
    color: #586e75;
}

.highlight {
    margin-left: -25px;
    margin-right: -25px;
    background: #002b36;
    color: #839496;
    overflow-x: auto;
    font-size: 0.8em;
    line-height: 1.2em;
}

.gutter {
    color: #586e75;
    min-width: 30px;
    padding: 5px 0px 5px 10px;
}

.code {
    width: 100%;
    padding: 5px 25px 5px 25px;
}

blockquote {
    margin: 16px 0;
    padding: 1px 15px;
    border-left: solid 5px #6D8594;
    background-color: rgba(0, 0, 0, 0.05);
}

hr {
    margin: 25px -25px;
    padding: 0;
    border: none;
    border-top: 2px solid #ccc;
}

img {
    display: block;
    margin: 0 auto;
}

/*******************************************************************************
 * Table
 ******************************************************************************/

.article-content > table, blockquote > table {
    margin: 16px auto;
    border-spacing: 0;
    border: 2px solid #0e83cd;
}

.article-content > table th, .article-content > table td, blockquote > table th, blockquote > table td {
    padding: 1px 10px;
}

.article-content > table thead, blockquote > table thead {
    background: #0e83cd;
    color: #fff;
    border: none;
}

.article-content > table tbody tr, blockquote > table tbody tr {
    /*border-bottom: solid 1px #975997;*/
    border-bottom: 1px solid #ddd;
}

.article-content > table tbody tr:last-child, blockquote > table tbody tr:last-child {
    border: none;
}

/*******************************************************************************
 * Paginator
 ******************************************************************************/

.page-nav {
    text-align: center;
}

.page-nav a {
    transition: background 0.3s ease-in-out 0s;
}

.page-nav a:hover {
    text-decoration: none;
    background: #000;
    color: #fff;
}

.page-number {
    display: inline-block;
    padding: 10px 20px;
}

.page-nav .prev {
    float: left;
    padding: 10px 20px;
}

.page-nav .next {
    float: right;
    padding: 10px 20px;
}

/*******************************************************************************
 * Side Widgets
 ******************************************************************************/

.widget-header {
    margin: 10px 0px 10px 15px;
    overflow: hidden;
}

.widget-header h1 {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

ul.category-list,
ul.category-list-child,
ul.tag-list,
ul.link-list {
    margin-top: 0;
    list-style:none;
    padding-left: 15px;
}

li.category-list-item:before,
li.tag-list-item:before,
li.link-list-item:before {
    content: '»';
    padding: 0 5px;
}

span.category-list-count,
span.tag-list-count {
    padding: 0 5px;
}

span.category-list-count:before,
span.tag-list-count:before {
    content: '(';
}

span.category-list-count:after,
span.tag-list-count:after {
    content: ')';
}
