// https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header

//==============================================================================
// style settings

$bg_home: #080808;      // header -> homelink
$bg_menu: #14171b;      // header -> menulink
$bg_body: #272e35;      // main content
$bg_side: #32383f;      // side navigator

$fg_home: #f7f7f7;      // header -> homelink
$fg_menu: #ccc;         // header -> menulink
$fg_body: #c2c3c5;      // main content text
$fg_emph: #eee;         // emphasis text
$fg_gray: #aaa;         // minor text, i.e. categories & footer
$fg_line: #555;         // border, table, horizontal line, etc
$fg_link: #0e83cd;
$fg_code: #f5563d;

$page_width:  980px;
$side_width:  260px;
$menu_height: 60px;
$spacing:     15px;

$font_size: 15px;
$font_list: 'Open Sans',
            'Helvetica Neue',
            'WenQuanYi Micro Hei',
            'Hiragino Sans GB',
            'Hiragino Sans GB W3',
            'Microsoft YaHei',
            'sans-serif';

//==============================================================================
// global styles

@import '_normalize.scss';
@import '_solarized.scss';
@import '_fonts.scss';

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
}

body {
    overflow-x:       hidden;
    overflow-y:       scroll;
    background:       $bg_body;
    color:            $fg_body;
    font-size:        $font_size;
    font-family:      $font_list;
    text-size-adjust: 100%;
    font-kerning:     normal;
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings:    'kern' 1;
    -o-font-feature-settings:      'kern' 1;
    font-feature-settings:         'kern' 1;
}

a { text-decoration: none; color: $fg_link; }
// pre, p, h1, h2, h3, h4, h5 { margin: 0.5em 0 0; }
h1, h2, h3 { font-size: 1.3em; }
h4         { font-size: 1.2em; }
h5         { font-size: 1.1em; }

.wrap-page {
    margin-left:  auto;
    margin-right: auto;
    max-width:    $page_width;
}

//==============================================================================
// header

header.header {
    overflow:   hidden;
    position:   fixed;
    top:        0;
    width:      100%;
    background: $bg_menu;
    z-index:    1;
}

.wrap-homelink, .wrap-menulink {
    padding:     0 $spacing/2;
    text-align:  center;
}
.wrap-homelink { float: left; width: $side_width; background: $bg_home; font-weight: bold; }
.wrap-menulink { float: right; }

.homelink, .menulink {
    text-transform: uppercase;
    line-height:    $menu_height;
    position:       relative;
    margin:         0 $spacing/2;
}
.homelink { color: $fg_home; font-size: 20px; }
.menulink { color: $fg_menu; font-size: 14px; }

.homelink:before, .menulink:before {
    content:    '';
    position:   absolute;
    left:       0;
    bottom:     0;
    width:      100%;

    visibility:         hidden;
    -webkit-transform:  scaleX(0);
    -moz-transform:     scaleX(0);
    -o-transform:       scaleX(0);
    transform:          scaleX(0);

    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition:    all 0.3s ease-in-out 0s;
    -o-transition:      all 0.3s ease-in-out 0s;
    transition:         all 0.3s ease-in-out 0s;
}

.homelink:before { background-color: $fg_home; height: 2px; }
.menulink:before { background-color: $fg_menu; height: 1px; }

.homelink:hover:before, .menulink:hover:before {
    visibility:        visible;
    -webkit-transform: scaleX(1);
    -moz-transform:    scaleX(1);
    -o-transform:      scaleX(1);
    transform:         scaleX(1);
}

//==============================================================================
// side navigator

.sidebar {
    position:   fixed;
    top:        $menu_height;
    bottom:     0;
    margin:     $spacing 0;
    padding:    0 $spacing;
    width:      $side_width;
    background: $bg_side;
    color:      $fg_emph;
    overflow-y: scroll;
}
.sidebar::-webkit-scrollbar { display: none; }

.side-block            { border-bottom: 1px solid $fg_line; overflow: auto; }
.side-block:last-child { border-bottom: 0px; }

.side-block h1, .side-block h2, .side-block h3,
.side-block h4, .side-block h5, .side-block h6 { margin: 1em 0 0; }

.side-block ul {
    margin: 0.5em 0 1em;
    padding-left: 10px;
    list-style: none;
    line-height: 1.3em;
}

.side-block li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.side-block li ::before {
    content: "» ";
}

//==============================================================================
// footer

footer.footer   { margin:   1em 0; color: $fg_gray;    }
footer.footer p { margin: 0.3em 0; line-height: 1.4em; }

//==============================================================================
// main content

.skip-header  { margin-top:  $menu_height; }
.skip-sidebar { margin-left: $side_width;  }

.content {
    text-align: justify;
    padding:    0 $spacing;
}

.article {
    padding: $spacing 0 0;
    border-bottom: 1px solid $fg_line;
}

.article p,  .article ul, .article pre { line-height: 1.4em; margin: 1em 0; }
.article h1, .article h2, .article h3,
.article h4, .article h5, .article h6 {
    padding-top:            #{$menu_height + $spacing};
    margin-top:  calc(1em - #{$menu_height + $spacing + $font_size});
    color:       $fg_emph;
}
.article h1.article-title {
    font-size: 1.4em;
    color:     $fg_code;
    margin:    0;
    padding:   0;
}
.article-title > a       { color: $fg_emph; transition: color 0.3s; }
.article-title > a:hover { color: $fg_link; }
.article p.article-meta         { color: $fg_gray; font-size: 0.9em; margin: 0.5em 0 1em; }
.article p.article-digest       { margin-top: 0; }
.article p.article-digest:after { content: "..."; }

//==============================================================================
// markdown

code {
    font-family: "Source Code Pro", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: #{$font_size - 1};
}

:not(pre) > code {
    padding: 0 5px;
    border-radius: 2px;
    background: $bg_side;
    color: $fg_code;
}

pre {
    background-color: $bg_side;
    padding: $spacing/4 $spacing/2;
    overflow: hidden;
}

dl dt { font-weight: bold; }
dl dd { margin-left: 2em;  }

blockquote {
    overflow: auto;
    margin: 1em 0;
    padding: 0 1em;
    border-left: solid 2px $fg_line;
    background-color: rgba(255, 255, 255, 0.05);
}

hr {
    border:     none;
    border-top: 1px solid $fg_line;
}

img {
    display: block;
    margin:  1em auto;
}

table {
    margin:          1em auto;
    border-spacing:  0;
    border-collapse: collapse;
    line-height:     1.3em;
}

table th, table td {
    padding: 0 10px;
    border:  1px solid $fg_line;
}

table thead {
    background:  $bg_side;
    color:       $fg_emph;
    font-weight: bold;
}

table tbody tr {
    font-weight: normal;
}

table tbody tr:last-child, table tbody tr:last-child {
    border: none;
}
