.dark .highlight .hll { background-color: #222222 }
.dark .highlight  { background: #000000; color: #cccccc }
.dark .highlight .c { color: #000080 } /* Comment */
.dark .highlight .err { color: #cccccc; /*border: 1px solid #FF0000*/ } /* Error */
.dark .highlight .esc { color: #cccccc } /* Escape */
.dark .highlight .g { color: #cccccc } /* Generic */
.dark .highlight .k { color: #cdcd00 } /* Keyword */
.dark .highlight .l { color: #cccccc } /* Literal */
.dark .highlight .n { color: #cccccc } /* Name */
.dark .highlight .o { color: #3399cc } /* Operator */
.dark .highlight .x { color: #cccccc } /* Other */
.dark .highlight .p { color: #cccccc } /* Punctuation */
.dark .highlight .ch { color: #000080 } /* Comment.Hashbang */
.dark .highlight .cm { color: #000080 } /* Comment.Multiline */
.dark .highlight .cp { color: #000080 } /* Comment.Preproc */
.dark .highlight .cpf { color: #000080 } /* Comment.PreprocFile */
.dark .highlight .c1 { color: #000080 } /* Comment.Single */
.dark .highlight .cs { color: #cd0000; font-weight: bold } /* Comment.Special */
.dark .highlight .gd { color: #cd0000 } /* Generic.Deleted */
.dark .highlight .ge { color: #cccccc; font-style: italic } /* Generic.Emph */
.dark .highlight .gr { color: #FF0000 } /* Generic.Error */
.dark .highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.dark .highlight .gi { color: #00cd00 } /* Generic.Inserted */
.dark .highlight .go { color: #888888 } /* Generic.Output */
.dark .highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.dark .highlight .gs { color: #cccccc; font-weight: bold } /* Generic.Strong */
.dark .highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.dark .highlight .gt { color: #0044DD } /* Generic.Traceback */
.dark .highlight .kc { color: #cdcd00 } /* Keyword.Constant */
.dark .highlight .kd { color: #00cd00 } /* Keyword.Declaration */
.dark .highlight .kn { color: #cd00cd } /* Keyword.Namespace */
.dark .highlight .kp { color: #cdcd00 } /* Keyword.Pseudo */
.dark .highlight .kr { color: #cdcd00 } /* Keyword.Reserved */
.dark .highlight .kt { color: #00cd00 } /* Keyword.Type */
.dark .highlight .ld { color: #cccccc } /* Literal.Date */
.dark .highlight .m { color: #cd00cd } /* Literal.Number */
.dark .highlight .s { color: #cd0000 } /* Literal.String */
.dark .highlight .na { color: #cccccc } /* Name.Attribute */
.dark .highlight .nb { color: #cd00cd } /* Name.Builtin */
.dark .highlight .nc { color: #00cdcd } /* Name.Class */
.dark .highlight .no { color: #cccccc } /* Name.Constant */
.dark .highlight .nd { color: #cccccc } /* Name.Decorator */
.dark .highlight .ni { color: #cccccc } /* Name.Entity */
.dark .highlight .ne { color: #666699; font-weight: bold } /* Name.Exception */
.dark .highlight .nf { color: #cccccc } /* Name.Function */
.dark .highlight .nl { color: #cccccc } /* Name.Label */
.dark .highlight .nn { color: #cccccc } /* Name.Namespace */
.dark .highlight .nx { color: #cccccc } /* Name.Other */
.dark .highlight .py { color: #cccccc } /* Name.Property */
.dark .highlight .nt { color: #cccccc } /* Name.Tag */
.dark .highlight .nv { color: #00cdcd } /* Name.Variable */
.dark .highlight .ow { color: #cdcd00 } /* Operator.Word */
.dark .highlight .w { color: #cccccc } /* Text.Whitespace */
.dark .highlight .mb { color: #cd00cd } /* Literal.Number.Bin */
.dark .highlight .mf { color: #cd00cd } /* Literal.Number.Float */
.dark .highlight .mh { color: #cd00cd } /* Literal.Number.Hex */
.dark .highlight .mi { color: #cd00cd } /* Literal.Number.Integer */
.dark .highlight .mo { color: #cd00cd } /* Literal.Number.Oct */
.dark .highlight .sa { color: #cd0000 } /* Literal.String.Affix */
.dark .highlight .sb { color: #cd0000 } /* Literal.String.Backtick */
.dark .highlight .sc { color: #cd0000 } /* Literal.String.Char */
.dark .highlight .dl { color: #cd0000 } /* Literal.String.Delimiter */
.dark .highlight .sd { color: #cd0000 } /* Literal.String.Doc */
.dark .highlight .s2 { color: #cd0000 } /* Literal.String.Double */
.dark .highlight .se { color: #cd0000 } /* Literal.String.Escape */
.dark .highlight .sh { color: #cd0000 } /* Literal.String.Heredoc */
.dark .highlight .si { color: #cd0000 } /* Literal.String.Interpol */
.dark .highlight .sx { color: #cd0000 } /* Literal.String.Other */
.dark .highlight .sr { color: #cd0000 } /* Literal.String.Regex */
.dark .highlight .s1 { color: #cd0000 } /* Literal.String.Single */
.dark .highlight .ss { color: #cd0000 } /* Literal.String.Symbol */
.dark .highlight .bp { color: #cd00cd } /* Name.Builtin.Pseudo */
.dark .highlight .fm { color: #cccccc } /* Name.Function.Magic */
.dark .highlight .vc { color: #00cdcd } /* Name.Variable.Class */
.dark .highlight .vg { color: #00cdcd } /* Name.Variable.Global */
.dark .highlight .vi { color: #00cdcd } /* Name.Variable.Instance */
.dark .highlight .vm { color: #00cdcd } /* Name.Variable.Magic */
.dark .highlight .il { color: #cd00cd } /* Literal.Number.Integer.Long */