@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(/assets/fonts/opensans400.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/assets/fonts/opensans600.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/assets/fonts/opensans400i.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(/assets/fonts/opensans600i.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(/assets/fonts/sourcecodepro.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/* 深色主体应该实现跨页面 */

:root {
    --max-width: 960px;
    --background-color: #fff;
    --alt-background-color: #f0f0f0; /* 标题、代码块、表格标题 */
    --code-background-color: #f0f0f0; /* 代码块的背景色 */
    --quote-border-color: #6D8594;
    --quote-background-color: rgba(0, 0, 0, 0.05);
    --splitter-color: #ddd;
    --text-color: #111;
    --link-color: #0e83cd;
    --meta-color: #999;
    --code-span-color: #cb4b16; /* 行内代码前景色 */
}

.dark {
    --background-color: #202124;
    --alt-background-color: #303134;
    --quote-border-color: #f7a664;
    --quote-background-color: rgba(255, 255, 255, 0.02);
    --code-background-color: #1d1b1b;
    --splitter-color: #3c4043;
    --text-color: #e8eaed;
    --code-span-color: #ff4689;
}

body {
    color: var(--text-color);
    background: var(--background-color);
    font-size: 15px;
    font-family: "Open Sans", Arial, "Hiragino Sans GB", "Helvetica Neue", "Helvetica", "Microsoft YaHei", sans-serif;
    text-size-adjust: 100%;
    font-kerning: normal;
    text-rendering: geometricPrecision;
    overflow-y: scroll;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    line-height: 1.5em;
    text-align: justify;
}

main {
    margin: 20px 0;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }

p { margin: 1em 0; }

a {
    text-decoration: none;
    color: var(--link-color);
}

ul, ol {
    padding-left: 30px;
}



/*******************************************************************************
 * layout
 */

/* 960 是不是太宽了，很多网站都更窄，或者根据屏幕宽度灵活调整正文宽度 */

.wrapper-full {
    display: block;
    overflow: auto;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 20px;
}

.article-side {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc(50% - var(--max-width) / 2);
    padding-top: 70px; /* 跳过标题栏的高度*/
    border-left: 1px solid var(--splitter-color);
    overflow-y: auto;
}

/* 如果屏幕宽度小于 1100，就不显示侧边目录，否则宽度不够 */
@media only screen and (max-width: 1100px) {
    .article-side {
        display: none;
    }
}



/* right side table of contents */

.side-toc {
    line-height: 1.5em;
    text-wrap: nowrap;
}

.side-toc ul {
    padding: 0;
    margin-left: 20px;
    list-style-position: inside;
}

.side-toc li {
    overflow: hidden;
    text-overflow: ellipsis;
}


/*******************************************************************************
 * page header
 */

.header {
    background: var(--alt-background-color);
    border-bottom: 1px solid var(--splitter-color);
    padding: 10px 0;
    position: relative;
    z-index: 100;
}

.homelink-wrapper {
    float: left;
}

.navlink-wrapper {
    float: right;
}

.homelink, .navlink {
    text-transform: uppercase;
    line-height: 44px;
    color: var(--text-color);
    position: relative;
}

.homelink {
    font-size: 20px;
    margin-right: 16px;
}

.navlink {
    font-size: 14px;
    margin-left: 16px;
}

.homelink:before, .navlink:before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--text-color);
    visibility: hidden;

    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);

    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.homelink:before {
    height: 2px;
}

.navlink:before {
    height: 1px;
}

.homelink:hover:before, .navlink:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

.navbutton {
    border: none;
    cursor: pointer;
    margin-left: 16px;
    vertical-align: middle;
    background: transparent;
    fill: var(--text-color);
}


/*******************************************************************************
 * article text
 */

/* .article {
    overflow: hidden;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
}

.article:last-child {
    border-bottom: 0px;
} */

/* .article-header {
    padding: 5px 0 0;
} */

.article-title {
    font-size: 28px;
    line-height: 1em;
    /* color: #333; */
    /* margin: 12px 0; */
}

/* .article-title > a {
    margin: 0;
    padding: 0;
    color: #333;
    transition: color 0.3s;
}

.article-title > a:hover {
    color: #0e83cd;
} */

.article-meta {
    margin: 30px 0;
    font-size: 14px;
    padding: 0;
    color: var(--meta-color);
}

/* .article-meta > p {
    margin: 0;
} */


/*******************************************************************************
 * article content
 */

pre, code {
    font-family: "Source Code Pro", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

/* inline code */
code {
    padding: 0 2px;
    border-radius: 2px;
    background: var(--code-background-color);
    color: var(--code-span-color);
}

/* codeblock */
pre {
    background-color: var(--code-background-color);
    padding: 10px 15px;
    overflow: auto;
    line-height: 1.5em;
}

blockquote {
    margin: 10px 0;
    padding: 0 15px;
    overflow: auto;
    border-left: solid 3px var(--quote-border-color);
    background-color: var(--quote-background-color);
}

hr {
    margin: 20px 0;
    padding: 0;
    border: none;
    border-top: 1px solid var(--splitter-color);
}

img {
    display: block;
    margin: 0 auto;
}


/* 带有 bullet 或编号的定义列表 */
li dl {
    margin: 0;
}


/*******************************************************************************
 * Table
 */

table:not(.highlighttable) {
    margin: 16px auto;
    border-spacing: 0;
    border-collapse: collapse;
}

table:not(.highlighttable) th, table:not(.highlighttable) td {
    padding: 1px 10px;
    border: 1px solid var(--splitter-color);
}

table:not(.highlighttable) thead {
    background: var(--alt-background-color);
    font-weight: bold;
}

table:not(.highlighttable) tbody tr {
    font-weight: normal;
}

table:not(.highlighttable) tbody tr:last-child, table:not(.highlighttable) tbody tr:last-child {
    border: none;
}


/*******************************************************************************
 * Paginator
 */

.page-nav {
    text-align: center;
}

.page-nav a {
    transition: background 0.3s ease-in-out 0s;
}

.page-nav a:hover {
    text-decoration: none;
    background: var(--text-color);
    color: var(--background-color);
}

.page-number {
    display: inline-block;
    padding: 10px 20px;
}

.page-nav .prev {
    float: left;
    padding: 10px 20px;
}

.page-nav .next {
    float: right;
    padding: 10px 20px;
}
