<%= render '/_header.*' %>
<div class="wrap-page">
    <aside class="sidebar"><section class="side-block">
        <h4>Table of Contents</h4>
        <%= note_toc(yield) %>
    </section></aside>
    <main class="content skip-sidebar skip-header">
        <article class="article">
            <h1 class="article-title"><%= @item[:title] || @config[:title] %></h1>
            <p class="article-meta">Tags: <%= @item[:tags].join(' | ') %></p>
            <%= yield %>
        </article>
        <%= render '/_footer.*' %>
    </main>
</div>
<script src="https://cdn.bootcss.com/mathjax/2.7.5/MathJax.js"></script>
