{% extends 'display_priority.html.j2' %}

{% block stream -%}
<div class="highlight"><pre>
{{- output.text | ansi2html -}}
</pre></div>
{%- endblock stream %}

{%- block traceback_line %}
{{ line | ansi2html }}
{%- endblock traceback_line %}

{%- block data_jpg -%}
<img src="{{ output.metadata.filenames['image/jpeg'] | posix_path | escape_html }}">
{%- endblock -%}

{%- block data_png -%}
<img src="{{ output.metadata.filenames['image/png'] | posix_path | escape_html }}">
{%- endblock -%}
