<footer class="footer">
    <div class="wrapper">
        <p>© <%= (new Date()).getFullYear() %> <a href="/about">Song Ziming</a></p>
        <p>Powered by <a href="http://hexo.io/">Hexo</a>. Hosted on <a href="https://www.digitalocean.com/?refcode=fa77aca48a33">DigitalOcean</a>.</p>
    </div>
</footer>
