<section class="block">
	<header class="widget-header">
		<h1>Links</h1>
	</header>
	<ul class="link-list">
	<% for (var link in theme.links) { %>
		<li class="link-list-item"><a href="<%= theme.links[link] %>" class="link-list-link"><%= link %></a></li>
	<% } %>
	</ul>
</section>