{% extends "base.html.jinja" %}


{% block style %}
<link rel="stylesheet" href="/css/pygments_default.css">
<link rel="stylesheet" href="/css/pygments_fruity.css">
{% endblock %}


{% block content %}
<h1 class="article-title">{{post.title}}</h1>
<div class="article-meta">
    {% if post.date -%}
        <p>{{ post.date.strftime('%Y-%m-%d') }}</p>
    {%- endif %}
    {% if post.category -%}
        <p>分类：{{ '/'.join(post.category) }}</p>
    {%- endif %}
    {#{% if post.keywords -%}
        <p>标签：{{ '&nbsp;'.join(post.keywords) }}</p>
    {%- endif %}#}
</div>
{{ post.html }}
{% endblock %}


{% block toc %}
<aside class="article-side side-toc">{{ post.toc }}</aside>
{% endblock %}
