---
layout: default
---

<article class="article-block">
    <header class="article-header">
        <h1>{{ page.title }}</h1>
        <p class="article-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time>
            {% if page.categories %}
                /
                {% for category in page.categories %}
                    {{ category }}
                {% endfor %}
            {% endif %}
        </p>
    </header>
    <main class="article-content">
        {{ content }}
    </main>
</article>

{% include disqus.html %}

{% include mathjax.html %}