$base-font-size:    15px;
$base-line-height:  22px;
$base-font-family:  'Open Sans', 'Helvetica Neue',
                    'Hiragino Sans GB', 'Hiragino Sans GB W3',
                    'WenQuanYi Micro Hei', 'Microsoft YaHei',
                    'sans-serif';

$text-color:    #555;
$emph-color:    #111;
$line-color:    #999;
$link-color:    #2980B9;

$nav-bg-color:   #343131;   // also the background of whole nav area
$nav-bg-hover:   #4e4a4a;   // item background color when mouse over
$toc-bg-color:   #e3e3e3;
$toc-bg-hover:   #d6d6d6;
$nav-item-color: #b3b3b3;   // text color of link
$nav-span-color: #838383;   // text color of section header
$toc-item-color: #808080;
$toc-self-color: #404040;   // current active item
