@import 'fonts.scss';
@import 'config.scss';
@import 'solarized-light.scss';

//------------------------------------------------------------------------------
// global settings

* {
    margin:      0;
    padding:     0;
    border:      0;
    font-weight: normal;
    box-sizing:  border-box;
}

body {
    font-size:   $base-font-size;
    line-height: $base-line-height;
    font-family: $base-font-family;
    overflow-x:  hidden;
    overflow-y:  scroll;
}

h1 { font-size: 1.3em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1.0em; }

a       { text-decoration: none;      }
a:hover { text-decoration: underline; }

body hanla:after {
    content:   ' ';
    display:   inline;
    font-size: 0.9em;
}

body code hanla,
body pre  hanla,
body kbd  hanla,
body samp hanla,
body ol > hanla,
body ul > hanla {
    display: none;
}

//------------------------------------------------------------------------------
// left side navigation section

.left {
    position:   fixed;
    left:       0;
    top:        0;
    bottom:     0;
    width:      300px;
    overflow-x: hidden;
    overflow-y: auto;
    background: $nav-bg-color;
}

.left::-webkit-scrollbar {
    display: none;
}

.left ul {
    margin:     0;
    padding:    0;
    list-style: none;
}

.left > ul {
    margin-top: $base-font-size;
    margin-bottom: 28px;
}

.left li a, .left li span {
    display:       block;
    line-height:   28px;
    font-size:     0.85em;
    color:         $nav-item-color;
    white-space:   nowrap;
    overflow:      hidden;
    text-overflow: ellipsis;
}

.left li.l1 > a, .left li.l1 > span { padding-left: 0.8em; }
.left li.l2 > a, .left li.l2 > span { padding-left: 1.6em; }
.left li.l3 > a, .left li.l3 > span { padding-left: 2.4em; }
.left li.l4 > a, .left li.l4 > span { padding-left: 3.2em; }
.left li.l5 > a, .left li.l5 > span { padding-left: 4.0em; }

.left li a       { color: $nav-item-color; }
.left li span    { color: $nav-span-color; }

.left li a:hover {
    text-decoration: none;
    background: $nav-bg-hover;
}

.left li.current ul.subnav a {
    border-right: solid 1px $line-color;
    color:        $toc-item-color;
    background:   $toc-bg-color;
}

.left li.current ul.subnav a:hover {
    background: $toc-bg-hover;
}

.left li.current > a {
    border-top:    solid 1px $line-color;
    border-bottom: solid 1px $line-color;
    color:         $toc-self-color;
    background:    #fff;
    font-weight:   bold;
}

//------------------------------------------------------------------------------
// home link area

.wrap-homelink {
    text-align:    center;
    margin-bottom: $base-font-size;
    background:    $link-color;
}

a.homelink {
    position:       relative;
    text-transform: uppercase;
    font-size:      1.3em;
    line-height:    80px;
    color:          #fff;
}

a.homelink:hover {
    text-decoration: none;
}

.homelink:before {
    content:    '';
    position:   absolute;
    left:       0;
    bottom:     0;
    width:      100%;
    background: #fff;
    height:     1px;

    visibility: hidden;
    transform:  scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.homelink:hover:before {
    visibility: visible;
    transform:  scaleX(1);
}

//------------------------------------------------------------------------------
// main body

.rest {
    margin-left: 300px;
    color:       $text-color;
}

.wrap {
    max-width:  960px;
    margin:     0 auto;
}

.rest header {
    overflow: auto;
    background: #ddd;
}

.rest header h1.title {
    color: $emph-color;
    font-weight: bold;
    font-size: 1.4em;
    line-height: 80px;
    margin: 0 $base-font-size;
}

.wrap article, .wrap footer {
    margin:     0 $base-font-size;
    overflow:   auto;
    text-align: justify;
}

.wrap footer {
    border-top: 1px solid $line-color;
    padding: 2em 0;
    text-align: center;
}

.wrap footer p {
    margin: 0;
}

//------------------------------------------------------------------------------
// markdown

h1, h2, h3, h4, h5, h6, p, hr,
pre, ul, ol, table, blockquote {
    margin:  $base-font-size 0;
    padding: 0;
}

article h1, article h2, article h3,
article h4, article h5, article h6 {
    color: $emph-color;
    font-weight: bold;
}

a {
    color: $link-color;
}

article ul, article ol {
    margin-left: 2em;
}

article li > ul {
    margin-top: 0;
    margin-bottom: 0;
}

code, pre {
    font-family:   'Source Code Pro', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    overflow:      hidden;
    border-radius: 2px;
}

code { padding: 0     0.2em; }
pre  { padding: 0.3em 0.7em; }

dl dt { font-weight: bold; }
dl dd { margin-left: 2em;  }

blockquote {
    overflow: auto;
    padding: 0 1em;
    border-left: solid 2px $line-color;
    background: rgba(0, 0, 0, 0.05);
}

blockquote > *:first-child { margin-top:    $base-font-size / 2; }
blockquote > *:last-child  { margin-bottom: $base-font-size / 2; }

hr {
    border:     none;
    border-top: 1px solid $line-color;
}

img {
    display: block;
    margin:  0 auto;
}

table {
    margin:          1em auto;
    border-spacing:  0;
    border-collapse: collapse;
    line-height:     1.3em;
}

table th, table td {
    padding: 0.1em 0.4em;
    border:  1px solid $line-color;
}

table thead {
    background: rgba(0, 0, 0, 0.05);
    color:       $emph-color;
}

table tbody tr {
    font-weight: normal;
}

table tbody tr:last-child, table tbody tr:last-child {
    border: none;
}
